.filterEvents {
  padding: 45px 34px;
  width: 381.23px;
  height: calc(100vh - 79px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & .title {
    color: #22232b;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
