.viewEvents {
  background-color: #f8f8f8;
  flex: 1;
  padding: 45px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  box-shadow: inset 10px 0px 35px -14px rgba(0, 0, 0, 0.1);
  height: 100vh;
  & .container-card-events {
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 86%;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    & .loading-content {
      flex: 1;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 30%,
          #00000000 0 70%,
          rgb(0, 0, 0) 0
        )
        50%/8% 100%,
      linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.25) 30%,
          #00000000 0 70%,
          rgba(0, 0, 0, 0.75) 0
        )
        50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }

  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }

  .loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }

  @keyframes l23 {
    100% {
      transform: rotate(1turn);
    }
  }
}
