@font-face {
  font-family: 'Inter-Medium';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter-Medium';
}

body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading-content {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.loading-content .loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5) 30%,
      #00000000 0 70%,
      rgb(0, 0, 0) 0) 50%/8% 100%,
    linear-gradient(90deg,
      rgba(0, 0, 0, 0.25) 30%,
      #00000000 0 70%,
      rgba(0, 0, 0, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loading-content .loader::before,
.loading-content .loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.loading-content .loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}