.accountTypeCard {
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  height: 108px;
  margin-bottom: 15px;
  transition: 0.3s;
  padding: 12px 0;
  &:hover {
    border: 1px solid #1565d8;
    background-color: #1566d80b;
  }
  & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 100%;
    & img:first-of-type {
      position: absolute;
      z-index: 0;
    }
    & img:last-of-type {
      z-index: 1;
    }
  }
  & .info {
    flex: 1;
    & h1 {
      font-size: 14px;
      font-weight: 600;
    }
    & p {
      color: #8692a6;
      font-size: 12px;
      margin-top: 5px;
      width: 90%;
    }
  }
}
